* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #506b6ba3;
}

.title {
  width: 100%;
  background-color:#3b9e99;
  color: black;
  text-align: center;
  padding: 20px 0;
  position: relative;
  z-index: 1;
}

.menu ul li {
  margin: 0;
}

.menu ul li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s;
}

.menu ul li a:hover {
  background-color: #555;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
  gap: 20px;
}


.sidebar {
  background-color: #9dbbb9;
  padding: 20px;
  flex: 1;
  min-width: 50%;
  text-align: center;
}

.sidebar .slogan {
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 0;
}

.sidebar .description {
  margin-bottom: 15px;
}

.sidebar img.barebears {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.main-content {
  background-color: #9dbbb9;
  padding: 20px;
  flex: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-content h1 {
  margin-bottom: 10px;
  padding: 20px;
}

ul{
  list-style-type: none;
}

table {
  border-collapse: collapse;
  width: 100%; 
}

th, td {
  border: 1px solid #3b9e99;
  padding: 8px;
  font-size: 0.9em;
}

footer {
  background-color: #506b6ba3;
  color: #fff;
  padding: 20px 10px;
  text-align: center;
  font-size: 0.9em;
}

.footer-contact p {
  margin: 0;
  padding: 0;
}

.social-icons {
  margin: 10px 0;
}

.social-icons a {
  margin: 0;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ddd;
}

.footer-info {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .menu ul {
    flex-direction: column;
  }

  .menu ul li a {
    text-align: center;
    border-bottom: 1px solid #444;
  }

  footer {
    font-size: 0.8em;
  }
}

#simular {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background-color: #3b9e99;
  color: white;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}

#simular:hover {
  background-color: #347f7b;
}